{{#each reviewList}}
<div class="card col-12">
    {{#with this}}
    <div class="card-body">
        {{#with title}}
        <h5 class="card-title">{{userName}}</h5>
        <p class="h6">{{caption}}</p>
        <p>{{date}}</p>

        {{/with}}
    </div>
    <div class="card col-12 ">
        <div class="card-body">
            {{#with reviewBody}}
            {{#with seller}}
            <p class="h6">{{title}}</p>
            <p>{{value}}</p>
            {{/with}}

            {{#with rating}}<p>{{title}}: {{value}}</p>{{/with}}

            {{#each text}}<p>{{this}}</p>{{/each}}

            {{#with advantages}}
            <p><b>{{title}}</b></p>
            <p>{{text}}</p>
            {{/with}}
            {{#with disadvantages}}
            <p><b>{{title}}</b></p>
            <p>{{text}}</p>
            {{/with}}
            {{#each images}}
            <img src="{{this}}">
            {{/each}}
            {{#each coments}}
            <div class="card col-12 ms-3 mt-1 mb-1">
                <div class="card-body">
                    {{#with this}}

                    <h5 class="card-title">{{userName}}</h5>
                    <p>{{date}}</p>
                    <p>{{text}}</p>
                    {{/with}}


                </div>
            </div>
            {{/each}}
            {{/with}}
        </div>
    </div>

    {{/with}}

</div>
{{/each}}